#allContent {
    font-family: Arial, Helvetica, sans-serif;
}
 
body {
    color: rgb(243, 210, 46)
}

#heading1 {
    margin:0 auto;
    position: relative;
    height: 30vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    } 

#lungButton {
    margin:0 auto;
    position: relative;
    height: 6vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: rgb(228, 237, 237);
    background-color: rgba(255, 219, 42, 0.8);
    color:rgb(87, 11, 115);
    padding: 15px 32px;
    font-size: 25px;
    font-weight:bolder;
    cursor: pointer;
    }

.info {
    margin:0 auto;
    position: relative;
    height: 6vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 219, 42, 0.8);
    color:rgb(87, 11, 115);
    padding: 1px 3px;
    font-size: 25px;
    font-weight:bolder;   
} 

.para {
    text-indent: 5%;
    font-size: 20px;
    font-weight: bold;
}

.location{
    position: relative;
    height: 10vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
} 

#WhenClicks {
    position: relative;
    height: 7vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#about {
    position: relative;
    height: 5vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center; 
}

a {
    font-size: 15px;
    color: rgb(243, 210, 46);
  }

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
    



